a,
a:visited {
	color: #fff;
}
ul,dl,dd{
	list-style: none;
	padding:0;
	margin:0;
}
* {
	box-sizing: border-box;
	word-break: break-all;
}
.mui-bar {
	height: 1.2rem;
	line-height: 1.2rem;
	padding-right: 0.26rem;
	padding-left: 0.26rem;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.mui-bar-nav~.mui-content {
	padding-top: 1.2rem;
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable {
	background-color: #303030;
}
.mui-scroll-wrapper {
	background-color: #303030;
	color:#fff;
}
body{
	font-size:0.4rem;
}