html,
body {
  background-color: #efeff4;
}
#header {
  background-color: #F26521;
  color: #fff;
}
#header img {
  width: 100%;
}
.left-menu-icon {
  width: 0.6rem;
  padding-top: 0.1rem;
  height: 100%;
}
.message-items-amount {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.4rem;
  margin: 0 0 0 0.1rem;
  width: 0.3rem;
}
.location-city {
  width: 1.7rem;
  margin-left: 0.4rem;
}
.location-city-inner {
  overflow: hidden;
  height: 0.8rem;
  padding-left: 0.2rem;
  margin-top: 0.2rem;
  border-left: 1px solid #fff;
}
.location-city-inner .f-left {
  height: 100%;
  line-height: 0.93rem;
  width: 1rem;
}
.location-city-inner .location-select {
  width: 0.25rem;
  line-height: 0.8rem;
}
.search-box {
  width: 5.4rem !important;
  margin-bottom: 0 !important;
  border: none;
  color: #464646;
  margin-top: 0.1rem;
  height: 1rem !important;
  line-height: 1rem !important;
  position: relative;
  padding-left: 1rem !important;
  font-size: 0.45rem;
}
.mui-bar-nav.mui-bar .mui-icon {
  padding: 0;
  margin: 0;
}
.location-city-name {
  font-size: 0.45rem;
}
.right-contact-a {
  margin: 0.27rem 0 !important;
  width: 0.7rem;
  font-size: 0.7rem;
}
.right-contact-a img {
  width: 100%;
}
.bzm-user-wrap {
  margin-bottom: 0.4rem;
  font-size: 0.5rem;
}
.bzm-user-wrap img {
  width: 1.8rem;
  display: block;
  margin: 0.8rem auto 0.4rem;
}
.bzm-user-name {
  text-align: center;
}
.bzm-user-menu {
  width: 7rem;
  margin: 0 auto 0.4rem;
  font-size: 0.4rem;
  overflow: hidden;
}
.bzm-user-menu li {
  float: left;
  width: 33.33%;
  border-left: 1px solid #555555;
}
.menu-pub {
  background: url(../res/img/sp1.png) no-repeat;
  background-size: cover;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 auto;
}
.menu-fj {
  background-position: 0 -1.28rem;
}
.menu-fx {
  background-position: 0 -2.54rem;
}
.menu-pub-title {
  text-align: center;
}
.navigate-menus li {
  padding: 0.38rem 0 0.38rem 1rem;
  width: 90%;
  margin-left: 10%;
  position: relative;
  border-bottom: 1px solid #555555;
  font-size: 0.44rem;
}
.bzm-navigate-right:after {
  right: 0.1rem;
  content: '\e470';
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  position: absolute;
  top: 50%;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8rem;
}
.navigate-item-each {
  width: 0.8rem;
  height: 0.8rem;
  left: 0;
  top: 50%;
  margin-top: -0.4rem;
  background: url("../res/img/sp1.png") no-repeat;
  background-size: cover;
  position: absolute;
}
.navigate-mybm {
  background-position: 0 -3.83rem;
}
.navigate-mysc {
  background-position: 0 -5.01rem;
}
.navigate-lljl {
  background-position: 0 -6.32rem;
}
.navigate-myyhq {
  background-position: 0 -7.7rem;
}
.navigate-yqhy {
  background-position: 0 -9.03rem;
}
.navigate-sz {
  background-position: 0 -10.14rem;
}
.navigate-nums {
  position: absolute;
  right: 0.45rem;
  top: 0.4rem;
}
.logout-btn {
  margin: 0.4rem auto 0.3rem;
  width: 70%;
  text-align: center;
  height: 1.3rem;
  line-height: 1.3rem;
  border: 1px solid #F26521;
  display: none;
}
.n-footer {
  text-align: center;
}
.nf-about {
  height: 1rem;
  line-height: 1rem;
}
.search-arcode-icon {
  position: absolute;
  right: 0.2rem;
  top: 0.3rem;
  width: 0.6rem !important;
}
.search-input-icon {
  position: absolute;
  left: 0.2rem;
  top: 0.3rem;
  width: 0.6rem !important;
}
.first-page-menu {
  overflow: hidden;
  margin: 0.5rem 0;
}
.first-page-menu li {
  width: 25%;
  text-align: center;
  float: left;
  font-size: 0.34rem;
  color: #505050;
}
.first-page-menu li img {
  width: 65%;
  margin: 0.4rem auto 0.2rem;
  display: block;
}
.mui-inner-wrap {
  background-color: #F2F2F2;
}
.mui-slider {
  background-color: #fff;
}
.header-marq-wrap {
  width: 100%;
}
.header-mar-inner {
  background-color: #FFE5CA;
  padding: 0.2rem;
  overflow: hidden;
}
.menu-wrapper {
  width: 95%;
  margin: 0 auto;
}
.marq-title {
  border-right: 1px solid #FCC999;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  font-size: 0.45rem;
  text-align: center;
  font-weight: bold;
  color: #ff5300;
  height: 1.5rem;
}
.marq-title img {
  width: 0.8rem;
}
.marq-content {
  height: 1.5rem;
  font-size: 0.35rem;
  padding-left: 0.3rem;
  overflow: hidden;
  color: #555555;
}
.marq-title div {
  height: 0.75rem;
  line-height: 0.75rem;
}
.marq-content li {
  height: 0.75rem;
}
.spot {
  color: #7D7D7D;
  margin-right: 0.15rem;
}
#Gallery {
  padding-bottom: 0.4rem;
}
.guess-you-like {
  padding: 0.3rem;
  background-color: #fff;
}
.like-icon img {
  width: 0.7rem;
}
.zf-icon {
  width: 0.5rem;
  height: 0.5rem;
  background: url("../res/img/sp3.png") no-repeat 0 -0.99rem;
  background-size: cover;
  margin: 0 0.2rem 0 0.4rem;
}
.guyl-header {
  overflow: hidden;
  font-size: 0.4rem;
  padding-bottom: 0.2rem;
}
.tbfy {
  line-height: 0.7rem;
  margin-left: 0.2rem;
  color: #F26521;
  font-weight: bold;
}
.mui-icon-arrowright2:after {
  content: '\e583';
  font-family: Muiicons;
}
.mui-icon-arrowright2 {
  color: #ACACAC;
}
.menu-item-un-ul {
  color: #505050;
}
.menu-item-un-ul li {
  overflow: hidden;
}
.menu-item-un-ul li .item-li {
  width: 5rem;
  overflow: hidden;
  float: left;
  padding: 0.4rem 0;
}
.menu-item-un-ul li .item-li img {
  display: block;
  float: left;
  width: 1rem;
  margin: 0.23rem 0.2rem 0.2rem 0.4rem;
}
.menu-item-un-ul li .item-li .item-li-det {
  margin-left: 0.3rem;
  width: 3rem;
  float: left;
  font-size: 0.35rem;
}
.menu-item-un-ul li .item-li .item-li-det .tedian {
  color: #F5844D;
  font-size: 0.45rem;
  font-weight: bold;
  height: 0.5rem;
  line-height: 0.5rem;
}
.menu-item-un-ul li .item-li .item-li-det .tedian-dett {
  height: 0.5rem;
  line-height: 0.5rem;
}
.gus-list-ul li {
  position: relative;
  border-top: 1px solid #e4e4e4;
  padding: 0.4rem 0;
  color: #000;
}
.gus-list-ul li .yzfy-bz {
  position: absolute;
  width: 1.2rem;
  left: -0.4rem;
  top: 0.6rem;
}
.index-footer-section {
  box-shadow: 0 0 0.15rem #bfbfbf;
  background-color: #F7F7F7;
  color: #5F5F6B;
}
.index-footer-section .footer-wrap {
  width: 100%;
}
.index-footer-section .foonter-blank {
  width: 3.5rem;
  margin: 0 auto;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  overflow: hidden;
}
.index-footer-section .foonter-blank .footer-title {
  float: left;
  color: #F5844D;
}
.index-footer-section .foonter-blank img {
  margin-left: 0.4rem;
  float: left;
  height: 1rem;
  display: inline-block;
}
.index-footer-section .slider-wrapper {
  padding: 1.5rem 0 0.8rem;
}
.index-footer-section .slider-wrapper .bzm-f-title {
  left: 0.65rem;
  top: -1.2rem;
  position: absolute;
}
.index-footer-section .slider-wrapper .zf-f-title {
  left: 4.55rem;
  top: -1.2rem;
  position: absolute;
}
.index-footer-section .slider-wrapper .mf-f-title {
  left: 8.36rem;
  top: -1.2rem;
  position: absolute;
}
.index-footer-section .slider-wrapper .jdt-img {
  width: 8rem;
  margin-left: 1rem;
}
.index-footer-section .slider-wrapper .jdt-select-img {
  position: absolute;
  width: 1.5rem;
  top: -0.5rem;
}
.index-footer-section .slider-wrapper .step1-active {
  left: 0.5rem;
}
.index-footer-section .slider-wrapper .step2-active {
  left: 4.2rem;
}
.index-footer-section .slider-wrapper .step3-active {
  right: 0.5rem;
}
.gus-list-ul li img {
  width: 100%;
}
.house-img {
  width: 35%;
}
.house-content {
  width: 65%;
  padding-left: 0.3rem;
  overflow: hidden;
}
.hc-title {
  font-weight: bold;
  font-size: 0.5rem;
}
.hc-name {
  font-size: 0.36rem;
  color: #707070;
  margin: 0.05rem 0;
}
.hc-price-per {
  color: #EB601D;
  font-size: 0.45rem;
  font-weight: bold;
}
.house-biaoqian,
.zan-and-focus {
  overflow: hidden;
}
.house-biaoqian dd {
  float: left;
  border: 1px solid #bdbdbd;
  padding: 0 0.1rem;
  font-size: 0.3rem;
  color: #707070;
  margin: 0 0.1rem 0.1rem 0;
}
.zan-and-focus div {
  float: left;
}
.zan-and-focus {
  float: right;
  color: #707070;
}
.mui-inner-wrap {
  height: auto;
}
.focus-icon {
  background-position: 0 -1.5rem;
}
.focus-active-icon {
  background-position: 0 -0.47rem !important;
}
.zan-active-icon {
  background-position: 0 0.09rem !important;
}
.li-touched {
  background-image: linear-gradient(right left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0) 100%);
}
.go-to-login {
  width: 4rem;
  border-radius: 0.1rem;
  margin: 1rem auto;
  text-align: center;
  background-color: #f96f2d;
  border: none;
  color: #fff;
  padding: 0.24rem;
  font-size: 0.5rem;
}
.navigator-footer {
  margin-top: 1rem;
}
.b-top {
  border-top: 1px solid #DBDBDB;
}
.b-right {
  border-right: 1px solid #DBDBDB;
}
.b-bottom {
  border-bottom: 1px solid #DBDBDB;
}
.bzm-dialog-content {
  padding: 0;
}
.bzm-dialog-content .rent-dialog {
  text-align: center;
}
.bzm-dialog-content .rent-dialog .rent-items {
  color: #F5844D;
  padding: 0.8rem 0;
}
.bzm-dialog-content .rent-dialog .rent-items .rent-i-inner {
  position: relative;
  width: 2.5rem;
  margin: 0 auto;
  text-align: left;
}
.bzm-dialog-content .bzm-navigate-right:after {
  color: #F5844D;
}
.bzm-dialog-content .submit-require {
  margin-bottom: 0.4rem;
}
.bzm-dialog-content .submit-require li {
  overflow: hidden;
  height: 1rem;
  margin-top: 0.5rem;
}
.bzm-dialog-content .submit-require li .su-title {
  margin: 0 0.35rem 0 0.8rem;
}
.rent-require-section {
  padding: 0.8rem 0 0.4rem;
}
.rent-require-section .zc-im-go-tz {
  font-size: 0.4rem;
  padding: 0.3rem;
  margin: 0.4rem auto;
  background-color: #F26520;
  color: #fff;
  width: 90% !important;
}
