
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

.mui-content{
	background-color: #fff;
}
.mui-btn-orange {
	color: #fff;
	border: 1px solid #F26521;
	background-color: #F26521;
}

.mui-input-row label {
	width: 1rem;
	padding: 4px 15px;
}

.reginput {
	width: 9rem !important;
	float: left !important;
}

.reginput1 {
	width: 6rem !important;
	float: left !important;
}

.reginputico1 {
	width: 0.4rem;
    height: 0.5rem;
    margin-top: 0.1rem;
    background: url(../res/img/login/regico.png) no-repeat 0 0rem;
    background-size: cover;
}

.reginputico2 {
	width: 0.4rem;
    height: 0.5rem;
    background: url(../res/img/login/regico.png) no-repeat 0 -1.13rem;
    background-size: cover;
}

.reginputico3 {
	width: 0.4rem;
    height: 0.5rem;
    background: url(../res/img/login/regico.png) no-repeat 0 -2.2rem;
    background-size: cover;
}

.reginputico4 {
	width: 0.4rem;
    height: 0.5rem;
    background: url(../res/img/login/regico.png) no-repeat 0 -3.3rem;
    background-size: cover;
}

.mui-btn-grey {
	width: 2.3rem !important;
	height: 0.6rem !important;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	padding: 0.1rem  0.1rem !important;
}

.mui-switch-blue.mui-active {
    border: 2px solid #F26521;
    background-color: #F26521;
}