
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

.mui-bar {
  background-color: #F26520;
  overflow: hidden;
  color: #fff;
}
.mui-content {
  color: #000;
}
.right-contact-a img {
  width: 0.8rem;
  margin-top: 0.2rem;
}
.left-menu-icon img {
  width: 0.7rem;
}
.back-img {
  padding-right: 0.25rem;
  border-right: 1px solid #F5844D;
  height: 0.8rem;
  margin-top: 0.2rem;
}
.page-title {
  margin-left: 0.5rem;
  width: 7.7rem;
  display: inline-block;
  text-align: left;
}

.mui-content{
	background-color: #fff;
}
.mui-btn-orange {
	margin-top: 1.5rem;
	color: #fff;
	border: 1px solid #F26521;
	background-color: #F26521;
}

.mui-switch-blue.mui-active {
    border: 2px solid #ccc;
    background-color: #ccc;
}


.mui-switch.mui-active:before
{
    right: auto;
    left: 15px;
    content: '是';
    color: #fff;
}

.mui-switch:before {
    font-size: 13px;
    position: absolute;
    top: 3px;
    right: 11px;
    content: '否';
    text-transform: uppercase;
    color: #999;
}

.mui-table-view-chevron .mui-table-view-cell.right-content {
	 padding-right: 0.5rem;
}

.floatRight {
    float: right;
}

.rightcontfont {
	color: #929292;
	font-size: small;
}
